.contentAsientos {}

.contentLayoutAsientos {
	grid-column-gap: 3px;
}

.contentAsientosElejidos.ocultar {
	opacity: 0;
}

.contentAsientosElejidos {
	display: grid;
	overflow: auto;
	background: #fff;
	padding: 10px 20px 20px 10px;
	box-shadow: -2px 0px 5px -3px rgb(0,0,0,.8);
	/*box-shadow: 5px 7px 5px 5px rgb(0,0,0,.8);*/
	grid-template-rows: repeat(2, max-content) 1fr max-content;
}

.botonera {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr repeat(3, max-content);
}

.btnComprar {
	background: #e6002b;
}

.botonesTicketera {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
}

.inputAsientos {
	display: grid;
	align-items: center;
	grid-template-columns: 20px 1fr 20px;
}
.inputAsientos span {
	height: 22px;
	display: flex;
	color: #1099AF;
	cursor: pointer;
	font-weight: 900;
	background: #fff;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	border: 1px solid #707070;
}

.inputAsientos input[type=text] {
	width: 50px;
	border: 1px solid #707070;
	border-radius: 30px;
	height: 20px;
	margin: 0 3px;
	text-align: center;
	color: #1099AF;
}

.results {
	overflow-y: auto;
	margin-bottom: 5px;
	overflow-x: hidden;
}

.results::-webkit-scrollbar {
	background-color: #fff !important;
	width: 5px;
}

.results::-webkit-scrollbar,
.results::-webkit-scrollbar-thumb {
	border-radius: 10px 10px 10px 10px;
}

.results::-webkit-scrollbar-thumb {
	background-color: #26A69A !important;
}

.cargandoMapa {
	display: flex;
	min-height: 30vh;
	align-items: center;
	justify-content: center;
}

.notaDeCompra {
	color: #ccc;
	font-size: 12px;
}

.switch {
	display: flex;
	align-items: center;
}

.switch > label > span {
	margin: 0 !important;
}

.promociones {
	margin-top: 0;
	max-width: 200px;
}

.tooltips {
	opacity: 0;
	color: #666;
	z-index: 10000;
	position: fixed;
	line-height: 1.3;
}

.tooltipsPuntero {
	width: 10px;
	height: 10px;
	bottom: -8px;
	z-index: 11000;
	position: absolute;
	left: calc(50% - 5px);
	transform: translate(-1px, -7px) rotate(45deg) scale3d(2, 2, 2);
}

.tooltips,
.tooltipsPuntero {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
							0 3px 1px -2px rgba(0,0,0,0.12),
							0 1px 5px 0 rgba(0,0,0,0.2);
}

.tooltipsSector p,
.tooltipsAsiento p {
	margin: 0;
}

.tooltips,
.tooltipsSector,
.tooltipsAsiento,
.tooltipsPuntero {
	background: #fff;
}

.tooltipsSector,
.tooltipsAsiento {
	padding: 10px;
	z-index: 12000;
	position: relative;
}

.tooltipsSector p:nth-child(1),
.tooltipsSector p:nth-child(2) {
	font-size: 1.2rem;
}

.tooltipsAsiento {
	padding: 10px 0;
}

.tooltipsAsiento section {
	display: grid;
	grid-gap: 10px;
	margin-bottom: 5px;
	padding: 0 10px 5px;
	border-bottom: 1px solid #dedbdb;
	grid-template-columns: repeat(3, max-content);
}

.tooltipsAsiento > section > div > p:first-child {
	font-size: 1.2rem;
	font-weight: 500;
}

.tooltipsAsiento > section > div {
	text-align: center;
}

.tooltipsAsiento > p {
	padding: 0 10px;
}

.toolbarBtn {
	padding: 0 8px;
	color: #2567BC;
	background: #fff;
}

.toolbarWrapper {
	top: 90px;
	right: 6px;
	display: grid;
	grid-gap: 1px;
	position: absolute;
}

.reactSVGPanZoom .sectorActivo,
.reactSVGPanZoom .asientoActivo {
	cursor: pointer;
}

.reactSVGPanZoom text {
	pointer-events: none;
}

/****************************************
* Mobile
*****************************************/
@media only screen and (min-width: 993px) {
	.contentLayoutAsientos {
		grid-template-columns: 1fr minmax(330px, 350px);
	}
}